<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form 
        (ngSubmit)="saveUserDetails(profileForm.value)"
        [formGroup]="profileForm"
        autocomplete="off" 
        novalidate>
        <div 
            [ngClass]="{'error': !isFirstNameValid()}"
            class="form-group">
          <label for="firstName">First Name:</label>
          <em
            *ngIf="!isFirstNameValid() && profileForm.controls.firstName.errors.required">
            Required
          </em>
          <em
            *ngIf="!isFirstNameValid() && profileForm.controls.firstName.errors.pattern">
            First name can contain only letters
          </em>
          <input 
            formControlName="firstName"
            id="firstName" 
            type="text" 
            class="form-control" 
            placeholder="First Name..." />
        </div>
        <div 
            [ngClass]="{'error': !isLastNameValid()}"
            class="form-group">
          <label for="lastName">Last Name:</label>
          <em
            *ngIf="!isLastNameValid() && profileForm.controls.lastName.errors.required">
            Required
          </em>
          <em
            *ngIf="!isLastNameValid() && profileForm.controls.lastName.errors.pattern">
            Last name can contain only letters
          </em>
          <input 
            formControlName="lastName"
            id="lastName" 
            type="text" 
            class="form-control" 
            placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button
            (click)="cancel()"
            type="button" 
            class="btn btn-default">
            Cancel
        </button>
      </form>
    </div>
  </div>